.home,
.questions,
.results,
.load-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.load-page {
  height: 80vh;
}

.chart-container {
  margin: 10px;
  margin-top: 80px;
  max-width: 500px;
  height: auto;
  position: relative;
  height: 50vh;
  width: 50vw;
}

.card {
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card-body {
  width: fit-content;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
